<head>
    <link rel="stylesheet" href="~/css/IndexSite.css"/>
</head>

@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid" id="background-imagem">
    <p class="text-center paragrafo-1">Na jornada empresarial, a Volit Gestão é a chave mestra da inovação. Elevamos seu negócio para novos patamares, conectando expertise, tecnologia e soluções com software de ponta. Cada desafio é uma oportunidade para impulsionar seu sucesso além das expectativas, trazendo eficiência e modernidade à sua trajetória empreendedora.</p>
    <div class="container foto-inicio">
        <img src="~/img/Conhecer, transformar, evoluir..png" class="img-inicio" alt="foto-banner" />
    </div>
    <div class="div-parceiros">
         <div class="elemento1">
             <img src="~/img/job-5382501_1280.jpg" class="img-elemento1"/>
         </div>
        <h3 class="titulo-container">Visão comercial</h3>
        <div class="script-container">
            div
        </div>
    </div>
</div>
