<head>
    <link rel="stylesheet" href="~/css/IndexSite.css"/>
</head>

@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="container bloco-pai">
    <p class="paragrafo-1">Na sua jornada empresarial, a Volit Gestão é a chave mestra da inovação pois elevamos seu negócio para novos patamares  -  Conectando expertise, tecnologia e soluções com software de ponta. Cada desafio é uma oportunidade para impulsionar seu sucesso além das expectativas, trazendo eficiência e modernidade à sua trajetória empreendedora.</p>
    <div class="bloco-1">
        <div class="imagem-1"><img width="100%" src="~/img/Conhecer, transformar, evoluir..png" /></div>
    </div>
        <a class="button" asp-area="" asp-controller="Produtos" asp-action="Index">Conheça nossos produtos...</a>
</div>
<div class="container divh3"><h3 class="textoparceiros">Clientes e Parceiros</h3></div>
<div class="container section-parceiros">
    <div class="div1"><img width="100%" src="~/img/img-help.png"/></div>
    <div class="div2"><img width="100%" src="~/img/img-seidor.png"/></div>
    <div class="div3"><img width="100%" src="~/img/ing-objetiva.png" /></div>
</div>