<head>
    <link rel="stylesheet" href="~/css/IndexSite.css"/>
</head>

@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid" id="background-imagem">
    <div class="container">
        <p class="text-center paragrafo-1">TECNOLOGIA E SOLUÇÃO, CRI</p>
        <p class="text-center paragrafo-2">ANDO INOVAÇÕES PARA O MERCADO.</p>
        <img src="~/img/Conhecer, transformar, evoluir..png" width="100%" alt="foto-banner" />
    </div>
    <div class="container-fluid div-parceiros">
        <div class="container primeiroTexto text-center">
            <p class="text-center paragrafo-3">teste</p>
            </div>
        </div>
    </div>
</div>
