<head>
    <link rel="stylesheet" href="~/css/IndexSite.css"/>
</head>

@model HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid" id="background-imagem">
    <p class="text-center paragrafo-1">Na sua jornada empresarial, a Volit Gestão é a chave mestra da inovação pois elevamos seu negócio para novos patamares  -  Conectando expertise, tecnologia e soluções com software de ponta. Cada desafio é uma oportunidade para impulsionar seu sucesso além das expectativas, trazendo eficiência e modernidade à sua trajetória empreendedora.</p>
    <div class="container foto-inicio">
        <img src="~/img/Conhecer, transformar, evoluir..png" class="img-inicio" alt="foto-banner" />
    </div>
    <div class="div-parceiros">
         <div class="elemento1">
             <img src="~/img/job-5382501_1280.jpg" class="img-elemento1"/>
         </div>
        <h3 class="titulo-container">Soluções</h3>
        <div class="container-fluid script-container">
           <div class="row rowcontainer">
                <div class="col-4">
                  <div class="Informativo-1"> 
                      <img src="~/img/icones.png" class="img-info1"/>
                    </div>
                    <div class="col-4">
                        <h3 class="">Base de Dados</h3>
                    </div>                  
                    <div class="col-4">
                        <p class="">MUDEI AQUI MUDEI AQUI MUDEI AQUI MUDEI AQUI MUDEI AQUI MUDEI AQUI</p>
                    </div>                
               </div>

               <div class="col-4">
                    <div class="Informativo-2">
                        <img src="~/img/icones1.png" class="img-info2" />
                    </div>
                    <div class="col-4">
                        <h3 class="">Base de Dados</h3>
                    </div>
                    <div class="col-4">
                        <p class="">dkoadksaoioaid dkoakdo adkasok doask oi</p>
                    </div>
               </div>

                <div class="col-4">
                    <div class="Informativo-3">
                        <img src="~/img/icones2.png" class="img-info3" />
                    </div>
                    <div class="col-4">
                        <h3 class="">Base de Dados</h3>
                    </div>    
                    <div class="col-4">
                        <p class="">dkoadksaoioaid sdako  kodskaodkas kdoaskodsak</p>
                    </div>                   
                </div>
           </div>
        </div>
    </div>
</div>
