@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300&family=Roboto+Mono:ital,wght@1,100&family=Roboto:wght@300&family=Tenor+Sans&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.logo-volit {
    display: flex;
    position: absolute;
    left: 7%;
    top: 21px;
    width: 160px;
    height: 80px;
}

header .container {
    display: none;
}

#background-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foto-inicio{
    width: 1124px;
    height: 700px;
    display: block;
    position: relative;
}
.img-inicio{
    width: 100%;
}
.div-parceiros {
    display: flex;
    background-color: #8a8477;
    width: 1100px;
    height: 650px;
    position: relative;
    border: 20px solid #fffed7;
}
.paragrafo-1 {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    position: fixed;
    background-color: #fffed7;
    font-size: 9px;
    color: black;
    font-weight: bold;
    top: 48%;
}

.elemento1{
    display: block;
    width: 550px;
    height: 100%;
    background-color: whitesmoke;
}
.img-elemento1{
    width: 100%;
    height: 100%;
}
.titulo-container {
    font-family: Bahnschrift;
    color: #fffed7;
    margin-left: 70px;
    margin-top: 30px;
}
.script-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    border: 2px solid #fffed7;
    position: relative;
    top: 130px;
    right: 85px;
}