<head>
    <link rel="stylesheet" href="~/css/produtos.css" />
</head>

@model HomeModel
@{
    ViewData["Title"] = "Produtos";
}

<div class="container bloco-main"> 
    <div class="bloco-1">
        <img src="~/img/img-servicos.jpg" width="100%"/>
    </div>
</div>
<div class="container bloco-filho">
    <div class="apresentacao">
        <h4>Serviços</h4>
        <p></p>
    </div>
    <div class="produto-1">
        <img src="~/img/BANCO DE DADOS - ICON.png" width="80px" height="80px" />
        <p class="text-center">
            Potencialize sua gestão de dados conosco! Oferecemos administração detalhada, garantindo estabilidade e segurança. Desenvolvemos designs personalizados, realizamos migrações seguras e eficientes, e investimos em performance tuning para proporcionar uma experiência de usuário ágil. Destacamo-nos em projetos avançados de Power BI, transformando dados em insights visuais poderosos. A análise de scripts é essencial para garantir eficiência e segurança do banco de dados. Proporcionamos uma gestão completa e integrada de dados, revolucionando como sua empresa lida com informações. Entre em contato para explorar como nossos serviços podem maximizar sua eficiência operacional.
        </p>
    </div>
    <div class="produto-2">
        <img src="~/img/RFID-ICON.png" width="80px" height="80px" />
        <p class="text-center">
            Potencialize sua gestão de dados conosco! Oferecemos administração detalhada, garantindo estabilidade e segurança. Desenvolvemos designs personalizados, realizamos migrações seguras e eficientes, e investimos em performance tuning para proporcionar uma experiência de usuário ágil. Destacamo-nos em projetos avançados de Power BI, transformando dados em insights visuais poderosos. A análise de scripts é essencial para garantir eficiência e segurança do banco de dados. Proporcionamos uma gestão completa e integrada de dados, revolucionando como sua empresa lida com informações. Entre em contato para explorar como nossos serviços podem maximizar sua eficiência operacional.
        </p>
    </div>
    <div class="produto-3">
        <img src="~/img/DESENVOLVIMENTO-ICON.png" width="80px" height="80px" />
        <p class="text-center">
            Transforme sua experiência digital conosco! Desenvolvemos aplicações mobile, websites, e-commerce de loja virtual, micro serviços, API's, web API's, integração de sistemas e portais para BI - Dashboard. Proporcionamos soluções personalizadas que aprimoram o controle de acesso veicular, otimizam o inventário e possibilitam rastreamento preciso da movimentação de ativos. Integre-se perfeitamente aos sistemas existentes, desfrutando de automação, segurança e visibilidade em tempo real. Simplifique, automatize e aprimore sua presença digital com nossos modelos de software versáteis e eficazes. Entre em contato para explorar como podemos impulsionar o crescimento e a inovação em sua organização.
        </p>
    </div>
    <div class="produto-4">
        <img src="~/img/MEDIACAO-ICON.png" width="80px" height="80px" />
        <p class="text-center">
            Transforme a gestão de conflitos com nossa Plataforma de Mediação Jurídica! Oferecemos recursos avançados de mediação, conciliação e arbitragem, promovendo soluções flexíveis para disputas. Integramos vídeo assistência para comunicação clara e direta, e fornecemos gerenciamento detalhado de conflitos. Além disso, oferecemos assessoria especializada em cobrança, facilitando a resolução ética e eficaz de questões financeiras. Simplifique e otimize a resolução de disputas legais em sua organização. Entre em contato para explorar como nossa Plataforma de Mediação Jurídica pode beneficiar seu negócio.
        </p>
    </div>
</div>
